.card-img {
    height: 73vh;
    display: flex;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    .apexcharts-text.apexcharts-yaxis-label {
        color: #295dac;
        fill: #2e548d;
    }

    .apexcharts-text.apexcharts-xaxis-label {
        color: #366bba;
        fill: #244e8e;
    }
}

/*.apexcharts-theme-light {*/
/*    color: #0047ff;*/
/*    fill: #ff1515;*/
/*}*/


.apexcharts-text.apexcharts-yaxis-label {
    color: #5dac29;
    fill: #d01436;
}

.apexcharts-text.apexcharts-xaxis-label {
    color: #e0c81e;
    fill: #e15d06;
}


