/*Slider Images*/
.card-img {
    height: 70vh;
    display: flex;
    align-items: center;
}

/*Фон автозаполнения*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow:0 0 0 30px rgb(55 65 81) inset !important;
    -webkit-text-fill-color: rgb(156 163 175);
}

/*Charts Dark*/
.apexcharts-yaxis-label {
    fill: #249380 !important;
}
.apexcharts-yaxis-title-text {
    fill: #249380 !important;
}

.apexcharts-xaxis-label {
    fill: #249380 !important;
}

.apexcharts-legend-text {
    fill: #249380 !important;
}

.apexcharts-legend-text {
    color: #249380 !important;
}

.apexcharts-title-text {
    fill: #249380 !important;
}

.apexcharts-pie-area {
    stroke: transparent !important;
}

